.connect-footer {
  width: 100%;
  height: 520px;
  background: url("../public/images/2.jpeg") center/cover no-repeat;
  border-radius: 20px;
  margin: 80px auto;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.footer-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-subtitle {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.social-card {
  width: 180px;
  padding: 20px 0;
  border: 2px solid #ffffff;
  border-radius: 12px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.social-card:hover {
  background: #ed2e2e;
  color: #f5efef;
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
  letter-spacing: 1px;
}
