.founder-section {
  background: #f6f7fb;
  padding: 90px 8%;
}

.founder-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 60px;
  align-items: center;
}

.founder-image img {
  width: 100%;
  height: auto;
  max-height: 520px;
  object-fit: contain;
  border-radius: 22px;
  box-shadow: 0 30px 70px rgba(0,0,0,0.15);
  background: #fff;
  padding: 10px;
}


.founder-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.founder-content h3 {
  font-size: 22px;
  color: #f75858;
  margin-bottom: 25px;
}

.founder-content p {
  font-size: 17px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
}

.founder-content blockquote {
  margin-top: 30px;
  padding-left: 18px;
  border-left: 4px solid #cfa34a;
  font-style: italic;
  color: #555;
}

/* Mobile */
@media (max-width: 900px) {
  .founder-container {
    grid-template-columns: 1fr;
  }
.founder-image img {
    max-height: 360px;
  }
}
