/* =========================
   GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.page-wrapper {
  background: #ffffff;
  color: #0d1b2a;
  overflow-x: hidden; /* prevents horizontal scroll */
}

/* =========================
   HEADER
========================= */

.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  margin-bottom: 80px;
  position: relative;
  z-index: 999;
}

/* .header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 40px;
}

.logo-text {
  font-size: 20px;
  letter-spacing: 1px;
}

.logo-text:hover {
  color: #ff0000;
}

.nav {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
}

.nav a:hover {
  color: #ff0000;
}

.start-btn {
  background: #e94b3c;
  color: #fff;
  border: none;
  border-color: white;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
/* =========================
   BANNER SECTION
========================= */

.banner-wrapper {
  width: 100%;
  background: #000;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}
/* Desktop height */
@media (min-width: 992px) {
  .banner-img {
    max-height: 260px;
  }
}

/* Mobile height */
@media (max-width: 768px) {
  .banner-img {
    max-height: 170px;
  }
}

/* =========================
   RESPONSIVE STYLES */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #111;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    display: none;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }

  .nav.show {
    display: flex;
  }

  .cta {
    display: none;
  }
}
