/* =========================
   GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}

.page-wrapper {
  font-family: "Georgia", serif;
  background: #ffffff;
  color: #0d1b2a;
  overflow-x: hidden; /* prevents horizontal scroll */
}

/* =========================
   HEADER
========================= */

.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  margin-bottom: 80px;
}

/* .header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.header-container {
  width: 100%;
  max-width: 100vw;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 40px;
}

.logo-text {
  font-size: 20px;
  letter-spacing: 1px;
}

.logo-text:hover {
  color: #ff0000;
}

.nav {
  display: flex;
  gap: 28px;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
}

.nav a:hover {
  color: #ff0000;
}

.start-btn {
  background: #e94b3c;
  color: #fff;
  border: none;
  border-color: white;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
/* =========================
   BANNER SECTION
========================= */

.banner-wrapper {
  width: 100%;
  background: #000;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}
/* Desktop height */
@media (min-width: 992px) {
  .banner-img {
    max-height: 260px;
  }
}

/* Mobile height */
@media (max-width: 768px) {
  .banner-img {
    max-height: 170px;
  }
}
