#weekly-events {
  border-radius: 10px;
}

.title{
   
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.weekly-minimal {
  padding: 30px 20px;
  /* background: #0b45106c; */
}

.weekly-minimal h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.weekly-list {
  max-width: 900px;
  margin: 0 auto;
}

.weekly-item {
  display: flex;
  align-items: center;
  gap: 40px;             
  background: #ffffff;
  border-radius: 12px;
  padding: 14px 18px;
  margin-bottom: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.weekly-item img {
  width: 80px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.weekly-text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.weekly-text strong {
  font-size: 15px;
}

.weekly-text span {
  font-size: 13px;
  color: #666;
}

/* Mobile */
@media (max-width: 600px) {
  .weekly-item {
    padding: 12px;
  }

  .weekly-item img {
    width: 70px;
    height: 55px;
  }
}
